@import "tailwindcss";

@theme {
  --color-primary-black: #080708;
  --color-primary-blue: #3772FF;
  --color-primary-red: #DF2935;
  --color-primary-yellow: #FDCA40;
  --color-primary-white: #E6E8E6;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}